.info_container {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}
.info_wrapper {
  width: 80%;
  height: 80%;
  /* background-color: khaki;
   */
}
.header_hold {
  width: 100%;
  height: 40%;
  /* background-color: blueviolet; */
}
.list_wrap {
  width: 100%;
  height: 60%;
  /* background-color: rgb(152, 143, 143); */
  display: flex;
}
.list1 {
  /* background-color: lightcoral; */
  width: 25%;
  height: 90%;
  padding: 10px;
}
.list2 {
  /* background-color: rgb(85, 231, 55); */
  width: 25%;
  height: 90%;
  padding: 10px;
}
.list3 {
  /* background-color: rgb(237, 20, 20); */
  width: 25%;
  height: 90%;
  padding: 10px;
}
.list4 {
  /* background-color: rgb(205, 236, 53); */
  width: 25%;
  height: 90%;
  padding: 10px;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
li {
}
